@import '../../helpers/mixins.scss';

.Cart {
  display: grid;
  justify-content: center;
  align-items: center;

  .main-container {
    width: auto;
    display: flex;
    margin: 24px 0 87px;

    @include onTablet {
      flex-direction: column;
      width: auto;
    }

    .phones-price {
      width: 368px;
      height: 206px;
      border: 1px solid #E2E6E9;

      display: flex;
      align-items: center;
      flex-direction: column;

      @include onTablet {
        width: auto;
        height: auto;
      }

      & h2 {
        margin-top: 24px;
      }

      & p {
        margin-bottom: 24px;

        @include onTablet {
          margin-bottom: 16px;
        }
      }

      .button__container {
        width: 100%;
        padding-top: 24px;
        border-top: 1px solid #E2E6E9;
        
        & button {
          margin: 0 24px 24px;
          width: calc(100% - 48px);
          height: 48px;
          font-weight: 600;
          background-color: #313237;
          color: #FFF;
        }
      }
    }

    .phones__list {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      margin-right: 16px;

      @include onTablet {
        margin-right: 0;
        margin-bottom: 32px;
      }

      .phones__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 752px;
        height: 128px;
        border: 1px solid #E2E6E9;

        @include onTablet {
          width: 592px;
          height: 128px;
          gap: 25px;
        }

        @include onPhone {
          width: 288px;
          height: 160px;
          justify-content: space-around;
          flex-direction: column;
          gap: 0px;
        }

        .left-container {
          display: flex;
          align-items: center;

          .phones__close {
            margin: 0 32px 0 24px;
            height: 16px;
            width: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: white;

            &:hover {
              scale: 1.5;
            }
          }

          .phones__img {
            object-fit: contain;
            margin-right: 31px;
            height: 66px;
            width: 66px;
          }
        }

        .right-container {
          display: flex;
          align-items: center;

          .phones__price {
            margin: 0 40px 0 43px;
            width: 70px;
          }
        }

        .phones__count {
          display: flex;
          width: 96px;
          justify-content: space-between;
          align-items: center;

          & button {
            height: 32px;
            width: 32px;
            border: 1px solid #B4BDC3;
            background-color: #FFF;
          }
        }
      }
    }
  }
}