@import '../../helpers/mixins.scss';

.ItemCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1136px;

  @include onPhone {
    margin: 0 16px;
  }

  .wrapper__characteristics {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .characteristics {
      display: flex;
      justify-content: space-between;

      &__value {
        color: #313237;
      }
    }
  }

  .description {
    width: 559px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include onTablet {
      width: auto;
      max-width: 700px;
    }

    @include onPhone {
      width: auto;
      max-width: 700px;
    }

    @include onTablet {
      & .wrapper__characteristics {
        margin: 0;
      }
    }

    &__text {
      margin-bottom: 16px;
    }

    &__Header {
      padding-bottom: 16px;
      border-bottom: 1px solid #E2E6E9;
    }

    &__article {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__description {
    display: flex;
    gap: 64px;
    margin-bottom: 80px;
    max-width: 1136px;

    @include onTablet {
      flex-direction: column;
    }

    @include onPhone {
      flex-direction: column;
    }
  }

  &__price {
    margin-top: 32px;
    display: flex;
    gap: 8px;
    align-items: center;

    & p {
      font-size: 22px;
      text-decoration: line-through;
    }
  }

  &__properties {
    display: flex;
    object-fit: contain;
    padding: 40px 0 80px;
    justify-content: center;

    @include onPhone {
      flex-direction: column;
    }

    .Change__list {
      display: flex;
      gap: 8px;
      margin: 8px 0 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid #E2E6E9;

      .Change-color__item {
        width: 30px;
        height: 30px;
        border-radius: 36px;
        border: 2px solid #FFF;
        box-shadow: 0 0 0 1px #E2E6E9;

        &:hover {
          box-shadow: 0 0 0 1px #B4BDC3;
        }

        &.active__color {
          box-shadow: 0 0 0 1px #313237;
        }
      }

      .Change-memory__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        padding: 0 8px;
        border: 1px solid #B4BDC3;

        &:hover {
          border: 1px solid #313237;
        }

        &.active__memory {
          background-color: #313237;
          color: #FFF;
        }
      }

    }

    .ItemCard__id {
      margin-left: 130px;

      @include onTablet {
        margin-left: 0;
      }

      @include onPhone {
        display: none;
        margin-left: 0;
      }
    }
  }

  &__button {
    margin-top: 16px;
    display: flex;
    gap: 8px;
  }

  &-button {
    height: 40px;
    width: calc(100% - 48px);
    font-weight: 600;
    background-color: #313237;
    color: #FFF;

    &:hover {
      border: 1px solid #FAFBFC
    }

    &.active-button {
      background-color: #FAFBFC;
      border: 1px solid #E2E6E9;
      color: #27AE60;

      &:hover {
        border: 1px solid #313237
      }
    }
  }

  &-favorites {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #B4BDC3;
    background-color: white;

    &:hover {
      border: 1px solid #313237
    }

    &.active-button {
      border: 1px solid #E2E6E9;

      &:hover {
        border: 1px solid #313237
      }
    }
  }

  &__list {
    flex-direction: column;
    display: flex;
    gap: 16px;

    @include onPhone {
      flex-direction: row;
      margin-bottom: 40px;
    }
  }

  &__info {
    width: 320px;
  }

  &__img {
    height: 70px;
    width: 70px;
    object-fit: contain;
    border: 1px solid #E2E6E9;
    padding: 4px;
    cursor: pointer;

    @include onTablet {
      height: 35px;
      width: 35px;
    }

    @include onPhone {
      height: 43px;
      width: 43px;
    }

    &.active__img {
      border: 1px solid #313237;
    }
  }

  &__selected-img {
    object-fit: contain;
    height: 444px;
    width: 444px;
    padding: 10px;

    margin: 0 64px 0 0;

    @include onTablet {
      height: 274px;
      width: 274px;
      margin-right: 17px;
    }

    @include onPhone {
      height: 275px;
      width: 275px;
      order: -1;
      margin: 0 0 16px 0;
    }
  }

  .top {
    align-self: flex-start;
    /* Выравнивание первого элемента по началу */

    &-link {
      display: flex;
      margin-top: 24px;
      height: 16px;
      gap: 8px;
      align-items: center;
    }
  }

}