@import '../../helpers/mixins.scss';

.Header {
  display: flex;
  justify-Content: space-between;
  flex-direction: row;
  align-items: center;
  height: 64px;
  border-bottom: 1px solid #E2E6E9;
  overflow: hidden;

  @include onTablet {
    height: 48px;
  }

  .active__line {
    background-color: #313237;
    width: 100%;
    height: 3px;

    position: absolute;
    bottom: 0;
  }

  &__leftContainer {
    display: flex;
    align-items: center;
    height: 100%;

    .Logo {
      margin-right: 48px;
      margin-left: 24px;

      @include onTablet {
        margin-right: 32px;
      }

      @include onPhone {
        margin-right: 48px;
        margin-left: 16px;
      }
    }

    .navigation {
      height: 100%;

      &__list {
        gap: 64px;
        display: flex;
        height: 100%;

        @include onTablet {
          gap: 32px;
        }

        @include onPhone {
          display: none;
        }
      }

      &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        height: 100%;

        a {
          align-items: center;
          height: 100%;
          font-weight: 800;
          text-transform: uppercase;
        }
      }
    }

  }

  &__rightContainer {
    display: flex;
    align-items: center;
    height: 100%;

    .search {
      display: flex;
      width: 327px;
      border-left: 1px solid #E2E6E9;
      height: 64px;
      text-align: center;
      justify-content: space-around;
      align-items: center;

      text-decoration: none;
      color: #313237;

      @include onTablet {
        width: 100px;
      }

      @include onPhone {
        width: 150px;
      }

      &__button {
        border: none;
        background-color: white;

        &:hover {
          scale: 1.5;
        }
      }

      &__input {
        border: none;
        font-size: 14px;

        @include onTablet {
          width: 45px;
        }
  
        @include onPhone {
          width: 45px;
        }

        &:focus {
          outline: none;
        }
      }

      &__img {
        height: 16px;
        width: 16px;
        display: flex;
      }
    }

    .category.category-menu {
      display: none;

      @include onPhone {
        display: flex;
      }
    }

    .category {
      height: 100%;
      width: 64px;
      border-left: 1px solid #E2E6E9;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      @include onTablet {
        width: 48px;
      }

      @include onPhone {
        display: none;
      }

      &:hover {
        img {
          transition: scale 0.2s ease-in-out;
          scale: 1.5;
        }

        .circle {
          transition: scale 0.2s ease-in-out;
          scale: 1.5;
        }
      }

      &-menu {
        border: none;
        border-left: 1px solid #E2E6E9;
        background-color: white;
      }

      .circle {
        position: absolute;
        left: 50%;
        bottom: 50%;

        background-color: #EB5757;
        height: 14px;
        width: 14px;
        border-radius: 14px;
        color: white;
        text-decoration: none;
        text-align: center;
        font-size: 10px;
        line-height: 1.4;
      }
    }
  }
}

a {
  color: #89939A;
  text-decoration: none;
  display: flex;

  &.active__link {
    color: #313237;
  }

  &:hover {
    color: #313237;
  }
}