@import './helpers/mixins.scss';

body {
  height: 100%;
  margin: 0;
  font-family: Montserrat, sans-serif;
  color: #89939A;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin: 0 24px;

  @include onPhone {
    margin: 0;
  }

}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
a {
  margin-block: 0;
  margin-inline: 0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #313237;
  font-weight: bold;
  font-size: 48px;

  @include onPhone {
    color: #313237;
    font-weight: bold;
    font-size: 32px;
  }
}

h2 {
  color: #313237;
  font-weight: bold;
  font-size: 32px;

  @include onPhone {
    color: #313237;
    font-weight: bold;
    font-size: 22px;
  }
}

h3 {
  color: #313237;
  font-weight: bold;
  font-size: 22px;

  @include onPhone {
    color: #313237;
    font-weight: 600;
    font-size: 20px;
  }
}

h4 {
  color: #313237;
  font-weight: 600;
  font-size: 20px;

  @include onPhone {
    color: #313237;
    font-weight: 600;
    font-size: 16px;
  }
}

button {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}

.small-text {
  font-weight: 600;
  font-size: 12px;
}

.uppercase {
  font-weight: 700;
  font-size: 12px;
}